#login-form{
background-color: white;
border-radius: 10px;
width: 30vw;
height:60vh;
margin-top: 10vh;
padding: 1rem;
box-shadow: 2px 2px 4px grey;

}

.text{
  border: solid rgb(38, 4, 113) 2px;
  background-color: rgba(26, 26, 27, 0.185);
  border-radius: 5px;
  height: 1.5rem;
  margin: 0.3rem;
  width:60%;
}
